@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .preserve-3d {
    transform-style: preserve-3d;
  }
  .translate-z-10 {
    transform: translateZ(40px);
  }
  .translate-z-6 {
    transform: translateZ(24px);
  }
}
